.description-box{
    margin: 170px 170px;
}
.descr-top{
   display: flex; 
}

.descr-top div{
    display: flex;
    font-weight: 600;
    border: 1px solid #d0d0d0;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 171px;
    height: 70px;
    
    
}
.description-nav.active,
.review-nav.active{
    cursor: pointer;
    color:black;
    background-color: #ff6161;
}



.contexte-nav{
    display: flex;
    flex-direction: column;
    border: 1px solid #d0d0d0;
    padding: 25px;
    justify-content: center;
    font-size: 16px;
    gap: 25px;
}
